@import "~antd/dist/antd.css";
* {
      margin: 0px;
      padding: 0px;
      background-color: #fff;
}

.Row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.Col-1-top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-basis: 50%;
      margin-right: 30px;
      margin-top: 10px;
}
.email {
      font-family: MyriadPro;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
      margin-left: 200px;
}
.phone-number {
      font-family: MyriadPro;
      margin: 0 5px 30px 7px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
      margin-bottom: 25px;
}
.nav-container {
      display: flex;
      justify-content: flex-end;
}
.nav-items {
      display: flex;
      list-style: none;
      margin-top: 5px;
      margin-right: 30px;
}

.nav-items.ant-menu-inline.ant-menu-root
      .ant-menu-item
      > .ant-menu-title-content {
      overflow: auto;
      text-overflow: inherit;
}
.nav-items.ant-menu-inline .ant-menu-item {
      width: auto;
}
.nav-items.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: "#fff";
}
.nav-items a {
      font-family: MyriadPro;
      font-size: 25px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.24;
      letter-spacing: normal;
      text-align: left;
      color: black;
      list-style: none;
      text-decoration: none;
}
.nav-items a:active {
      color: #e86d1f;
}

.Col-1 h5 {
      margin-left: 239px;
      color: darkorange;
      font-family: MyriadPro;
      margin-top: -2px;
}
.Col-1 h1 {
      display: inline-block;
      color: "#231f20";
      padding-top: 34px;
      padding-left: 134px;
}
.Col-1 {
      color: "#231f20";
      font-size: 28px;
}
.banner {
      position: relative;
}
.banner .ant-image {
      width: 100%;
}
.banner-img.ant-image-img {
      width: 100%;
      object-fit: cover;
      object-position: center;
}
.banner.ant-image-img {
      width: 100%;
      display: block;
      margin-top: 31px;
      position: relative;
}
.banner-caption {
      position: absolute;
      width: 320px;
      /* overflow: hidden; */
      padding: 20px;
      box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
      background-color: #fff;
      bottom: -25px;
      left: 70px;
}
.banner-caption h1 {
      margin: 37px 143px 14px 0;
      font-family: MyriadPro;
      font-size: 35px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: black;
}
.banner-caption p {
      font-family: MyriadPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
}
.btn-contact.ant-btn {
      display: inline-block;
      padding: 10px 25px;
      border-radius: 28px;
      border: solid 2px #231f20;
      /* background-color: #231f20; */

      margin-top: 15px;
      margin-bottom: 10px;
}
/* .wh-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: rebeccapurple;
      padding: 30px;
}
.wh-col-1 {
      display: flex;
      background-color: aquamarine;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
}
.wh-col-2 {
      display: flex;
      background-color: #e86d1f;
      flex-basis: 50%;
      justify-content: center;
      align-items: center;
}
.col-1-content h1 {
      display: flex;
      font-size: 40px;
      text-align: center;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
}
.col-2-content {
}
.col-1-content-2 {
      display: flex;
      flex-direction: row;
      background-color: #e86d1f;
}
.col-1-content-2 h1 {
      font-size: 67px;
}
.col-1-content {
      background-color: #e86d1f;
}
.col-2-content {
      background-color: aqua;
} */
.whoweare h1 {
      background-color: blueviolet;
      padding-top: 30px;
      text-align: center;
}
.number h1 {
      font-size: 55px;
      text-align: end;
}
.whoweare-text h3 {
      text-align: left;
      background-color: crimson;
}
