@import "~antd/dist/antd.css";
* {
      margin: 0px;
      padding: 0px;
}
body {
      background-color: #fff;
      overflow-x: hidden;
}
.Col-1-top {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* flex-basis: 50%; 
      /* margin-right: 30px;
      margin-top: 12px; */
}

.email {
      font-family: MyriadPro;
      font-size: 16px;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
      margin-left: 200px;
}
.phone-number {
      font-family: MyriadPro;
      margin: 0 5px 30px 7px;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.59;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
      margin-bottom: 25px;
}
/* .nav-container {
      display: flex;
      justify-content: flex-end;
} */
.nav-items {
      display: flex;
      list-style: none;
      margin-top: 5px;
      margin-right: 30px;
}

.nav-items.ant-menu-inline.ant-menu-root
      .ant-menu-item
      > .ant-menu-title-content {
      overflow: auto;
      text-overflow: auto;
}

.nav-items.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: "#fff";
}

.nav-items a {
      font-family: MyriadPro;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.24;
      letter-spacing: normal;
      text-align: left;
      color: black;
      list-style: none;
      text-decoration: none;
}
.nav-items a:hover {
      color: #e86d1f;
}

.Col-1 h5 {
      margin-left: 239px;
      color: darkorange;
      font-family: MyriadPro;
      margin-top: -20px;
      font-size: 15px;
      padding-bottom: 15px;
}
.Col-1 h1 {
      display: block;
      color: "#231f20" !important;
      padding-top: 30px;
      padding-left: 120px;
      font-size: 36px;
}
.Col-1 {
      color: "#231f20";
      font-size: 28px;
}
.banner {
      position: relative;
}
.banner .ant-image {
      width: 100%;
}
.banner-img.ant-image-img {
      width: 100%;
      object-fit: cover;
      object-position: center;
}
.banner.ant-image-img {
      width: 100%;
      display: block;
      margin-top: 31px;
      position: relative;
}
.banner-caption {
      position: absolute;
      width: 320px;
      /* overflow: hidden; */
      padding: 20px;
      box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.16);
      background-color: #fff;
      bottom: -25px;
      left: 70px;
}
.banner-caption h1 {
      margin: 37px 143px 14px 0;
      font-family: MyriadPro;
      font-size: 35px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: black;
}
.banner-caption p {
      font-family: MyriadPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #231f20;
}
.btn-contact.ant-btn {
      display: inline-block;
      padding: 10px 25px;
      border-radius: 28px;
      border: solid 2px #231f20;
      /* background-color: #231f20; */

      margin-top: 15px;
      margin-bottom: 10px;
}
/* .wh-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: rebeccapurple;
      padding: 30px;
}
.wh-col-1 {
      display: flex;
      background-color: aquamarine;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
}
.wh-col-2 {
      display: flex;
      background-color: #e86d1f;
      flex-basis: 50%;
      justify-content: center;
      align-items: center;
}
.col-1-content h1 {
      display: flex;
      font-size: 40px;
      text-align: center;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
}
.col-2-content {
}
.col-1-content-2 {
      display: flex;
      flex-direction: row;
      background-color: #e86d1f;
}
.col-1-content-2 h1 {
      font-size: 67px;
}
.col-1-content {
      background-color: #e86d1f;
}
.col-2-content {
      background-color: aqua;
} */
.number {
}
.whoweare {
      display: block;
      justify-content: center;
      padding-top: 60px;
}
.whoweare h1 {
      font-family: MyriadPro;
      font-size: 50px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.24;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      padding-top: 30px;
}
.number h1 {
      text-align: end;
      font-stretch: expanded;

      font-size: 100px;
}
.whoweare-text h3 {
      font-family: MyriadPro;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #e86d1f;
      font-stretch: extra-expanded;
}
.whoweare-content {
}
.sidebanner {
      height: 700px;
      width: 350px;
}

.ant-menu .ant-menu-item a {
      font-size: 20px;
      font-weight: 900;
}
.nav-container
      .ant-menu
      .ant-menu-root
      .ant-menu-vertical
      .ant-menu-light
      .nav-items {
      background-color: blue;
}

.ant-menu .ant-menu-item {
      background-color: transparent !important;
}
.card-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 70px 30px;
}

.ant-row-center {
      justify-content: center;
      align-items: center;
}
.ant-col {
      max-width: 100%;
      min-height: 1px;
}
.ant-row ant-row-middle {
      background-color: rgb(147, 48, 185);
}
.sidebanner .ant-image {
      padding-right: 200px;
}
.image-container {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      height: auto;
      padding-left: 50px;
}
.whoweare-content p {
      font-size: 20px;
      text-align: justify;
      padding: 5px;
}
.whoweare-content h2 {
      font-size: 25px;
      font-weight: 900;
}
.whycare-content p {
      font-size: 20px;
      text-align: justify;
      padding: 5px;
}
.whycare-content h1 {
      font-size: 30px;
      font-weight: 900;
      text-align: center;
}
.ourblog-container {
      padding: 35px 5%;

      /* padding: 50px 20%; */
      background-color: rgb(248, 242, 242);
      text-align: justify;
}
.ourblog-container p {
      font-size: 20px;
      text-align: justify;
      padding: 5px;
}
.missions-container {
      padding: 35px 5%;
}
.image-container {
      display: flex;
}
.content-container {
      display: flex;
      flex-direction: row;
}
.content-container h1 {
      text-align: center;
      padding-top: 15px;
}
.icon {
      display: flex;
      width: 100px;
      height: 100px;
}
.icon-container {
      display: flex;
      justify-content: center;
}
.testimonials-container {
      display: flex;
      padding: 35px 5%;
      background-color: rgb(248, 242, 242);
}
.testimonials-container p {
      font-size: 20px;
      text-align: justify;
      padding: 5px;
}
.testimonials-container h1 {
      font-size: 30px;
      font-weight: 900;
}
.ourtestimonialstext-container {
      display: flex;
      flex-direction: row;
}
.ourtestimonials-image-container {
      display: flex;
      justify-content: flex-end;
}

.contactus {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
}
.image-content-container {
      /* display: flex; */
}
.ant-btn.btncontact {
      background-color: black;
      border-radius: 15px;
      color: white;
}
.ant-btn.btncontact span {
      background-color: black;
}

.contactus-container {
      margin-top: 70px;
      padding: 0 40px;
}
.contactdetails-container {
      display: flex;
      margin-top: 30px;
      padding-right: 10px;
      justify-content: space-between;
}
.contactdetails-header {
      display: block;
}
contactdetails-header h2 {
      text-align: left;
      font-size: 16px;
}
.contactdetails-header h5 {
      padding: 0 70px;
      color: coral;
}
.contactdetails {
      display: inline;
      padding-left: 30px;
}
.contactdetails-header .phone-icon {
      width: 31.2px;
      height: 14.6px;
      margin: 0 1px 8.4px 1px;
      background-color: #e86d1f;
}
.footer {
      width: 100%;
      padding: 40px 50px 50px 70px;
      background-color: black;
}
.ant-layout {
      background-color: #fff;
}
.footer-links {
      display: flex;
      flex-direction: row;
      background-color: black;
      justify-content: space-between;
}

.footer-links a {
      display: flex;
      flex-direction: row !important;
      font-family: MyriadPro;
      font-size: 13px;

      color: rgb(241, 238, 238);
      list-style: none;
      text-decoration: none;
}
.links {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 0 5px 20px 5px;
      border-bottom: 2px solid #e86d1f;
}
.links a {
      color: #fff;
}
.input-container {
      display: flex;
      justify-content: space-between;
}
.email-input {
      margin-right: 15px;
      min-height: 20px !important;
}
.phone-input {
      min-height: 20px !important;
}

.row-container {
      width: 100%;
}
.social-icon-container .social-icons span:hover {
      color: #e86d1f !important;
}
.social-icon-container .social-icons {
      display: block;
}
.chat-form {
      background: #282325;
      box-shadow: 0px -2px 6px #363636;
      padding: 40px 50px;
      border-top: 6px solid #e86d1f;
}
h5.ant-typography,
.ant-typography h5 {
      margin-bottom: 0.5em;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
      margin-top: 0;
      margin-bottom: 0.5em;
      color: black;
      font-weight: 700;
}
.row-container h2 {
      color: white !important;
}
.whycare-content {
      padding-right: 30px;
      padding-top: 60px;
}
.whycare-container {
      background-color: rgb(248, 242, 242);
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
      .ant-menu-submenu-title
      > .ant-menu-title-content {
      /* flex: auto; */
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
}
.strategy-container p {
      font-size: 20px;
      text-align: justify;
      padding: 5px;
}
.whoweare-text {
      padding-top: 60px;
}
.nav-items {
      display: flex;
      list-style: none;
      margin-top: 5px;
      margin-right: 30px;
      justify-content: space-between;
}
